:root {
    /* Primary Colors */
    --header-nav-color: #21135d; /* Dark Blue */
    --whitish-background-color: #FFFFFF; /* White */
    --button-highlight-color: #3e2e87; /* Light Blue */
    --secondary-text-color: #808080; /* Gray */
  
    /* Existing colors (if any) */
    --yellowish-color: rgb(255, 161, 0);
    --geyish-color: #212529;
    --whitish-border-color: #dee2e6;
    --darkish-btn-highlight-color: #212529;
    --bright-indigoish: #6610f2;
    --yelowish-highlight-: #fff3cd;
    --dark-orange: #fd7e14;
    --navy-dark-emphasis: #0d062f;
    --yellow-warning: #ffc107;
    --blue-color: #0058E6;
  }